@import url("../styles/global.css");

main {
    width: 100vw;
    height: 100vh;


    display: flex;
}

section {
    width:49.2%;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

h1 {
    font-size: 32px;
    font-weight: 500;
    font-style: normal;
    color: var(--black);
}

.form-container > p {
    font-size: 16px;
    font-weight: 500;
    margin-top: 22px;
    color: var(--black);
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 60px;
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.checkbox {
    flex-direction: row;
    gap: 6px;
    justify-content: flex-start;
    align-items: center;
}

.checkbox > label {
    font-size: 9px;
}

.title-wrapper {
    display: flex;
    justify-content: space-between;
}

img {
    width:50.8%;
}

label {
    font-size: 14px;
    font-weight: 500;
    color: var(--black);
}

input[type="password"], input[type="email"] {
    border: 1px solid var(--gray);
    border-radius: 10px;
    padding: 8.5px 10px;
}

input::placeholder {
    font-size: 10px;
    font-weight: 500;
    color : var(--gray);
    
}

a {
    font-size: 10px;
    font-weight: 500;
    color: var(--blue);
}

button {
    height: 35.4px;
    background-color: var(--green);
    color: var(--white);
    border-radius: 10px;
    font-weight: 700;
    font-size: normal;
}

.divider {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    gap: 4.5px;
}

.divider > p {
    font-size: 9px;
    color: var(--black);
    font-weight: 500;
    color: var(--black);
}

.line{
    width: 100%;
    height: 2px;
    background-color: var(--border-gray);
}